@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "armada", sans-serif;
	font-weight: 700;
	font-style: normal;
}	
html {
	font-family: "armada", sans-serif;
	font-size: 16px;
}

body {
	max-width: 100%;
	max-height: auto;
	background-color: rgba(0,0,0,1.00);
	overflow-x: hidden;
	background-image: url("pfmbackground2.png");
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.00);
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
}

.profilePhoto {
	background-color: rgba(255,255,255,0.00);
	width: 25vw;
	border-radius: 50%;
	height: 25vw;
	object-fit: cover;
}

hr {
	background-color: rgba(255,255,255,1.00);
	height: 2px;
	width: 100%
}

img {
	max-width: 25vw;
	border-radius: 50%;
	max-height: auto;
	object-fit: cover;
}

.profile {
	display: flex;
	gap: 1em;
}

.profileHeader {
	background-color: rgba(0,0,0,1.00);
	text-align: center;
	height: 50%;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 25%;
	padding-bottom: 0.7em;
}

.line {
	width: 100%;
	background-color: rgba(255,255,255,0.00);
}

.footer {
	text-align: center;
	background-color: rgba(255,255,255,1.00)
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255,255,255,0.00);
    color: white;
}

.hamburger span {
    display: block;
    height: 0.4vh;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Initially hidden */
    position: absolute;
    top: 50px; /* Position it below the hamburger menu */
    right: 20px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80vw; /* Optional: Set a fixed width for the menu */
    text-align: left; /* Align links to the left */
}

.nav-links li {
    margin: 0;
    width: 100%; /* Make each item span the full width */
}

.nav-links li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.nav-links li a:hover {
    background-color: #555;
}

.nav-links li:last-child a {
    border-bottom: none; /* Remove border for the last item */
}

.menuTitle {
	color: rgba(255,255,255,1.00);
	text-align: right;
	padding-right: 1vw;
	font-size: 1.8em;
}

@media (max-width: 500px) {
	header {
		max-width: 100%;
		display: flex;
		flex-direction: column;
    	justify-content: center;
    	height: auto;
    	margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 2.5em;
	}

	header .profileHeader h2 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1em;
		text-align: left;
	}
	header .profileHeader h3 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 0.8em;
		font-weight: 700;
		line-height: 0.1em;
		text-align: left;
	}
	header hr {
		width: 80%;
	}
	.title {
		color: rgba(255,255,255,1.00);
		text-align: center;
	}
	
	.about {
		width: 100%;
		background-color: rgba(0,0,0,1.00);
		margin-top: 1em;
		color: rgba(255,255,255,1.00);
		text-align: center;

	}
	.description {
		color: rgba(255,255,255,1.00);
		font-size: 0.75em;
	}
	.instagram {
	height: 4em;
	border-radius: 10%;
	background-color: rgba(255,255,255,0.00);
	}

	.instagramLogo {
		width: 15vw;
	}
	
	.socials {
		font-size: 1em;
		text-align: center;
		color: rgba(255,255,255,1.00);
	}
	.hamburger {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 4vh;
		width: 8vw;
		padding-right: 3.5vw;
		padding-top: 0.5em;
	}
}

@media (min-width: 501px) and (max-width: 2000px) {
	header {
		max-width: 100%;
		display: flex;
		flex-direction: column;
    	justify-content: center;
    	height: auto;
    	margin: 0;
		text-align: center
	}

	h1 {
		font-size: 4em;
		padding-left: 0.35em;
	}
	
	header .profileHeader h2 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 2.4em;
		font-weight: 700;
		text-align: left;
		line-height: 10px;
	}
	header .profileHeader h3 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 1.4em;
		font-weight: 700;
		text-align: left;
	}
	header hr {
		width: 80%;
	}
	.title {
		color: rgba(255,255,255,1.00);
		text-align: center;
	}
	
	.about {
		width: 100%;
		height: auto;
		background-color: rgba(0,0,0,1.00);
		margin-top: 7em;
		color: rgba(255,255,255,1.00);
		text-align: center;
	}
	.description {
		color: rgba(255,255,255,1.00);
		font-size: 1.1em;
		background-color: rgba(0,0,0,1.00);
		margin-top: 1em;
	}
	.socials {
		font-size: 1.3em;
		text-align: center;
		color: rgba(255,255,255,1.00);
	}
	.hamburger {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 4vh;
		width: 2em;
		padding-right: 1.2em;
		padding-top: 0.5em;
	}
}

@media (min-width: 2001px) {
	header {
		max-width: 100%;
		display: flex;
		flex-direction: column;
    	justify-content: center;
    	height: auto;
    	margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 5em;
	}

	nav {
		width: 100%;
		padding-bottom: 2em;
	}
	
	ul {
		display: inline-block; /* Arrange list items in a row */
      	list-style: none; /* Remove default bullet points */
      	padding: 0;
      	margin: 0;
	}

	ul li {
		color: rgba(255,255,255,1.00);
		margin-right: 8em;
		padding-left: 10.5em;
		float: left;
		
	}
	
	ul li a {
		color: #FFFFFF;
		text-decoration: none;
		font-size: 2em;
	}
	ul li:hover a {
		color: #FF0000;
	}
	
	header .profileHeader h2 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 3em;
		font-weight: 700;
		text-align: left;
		line-height: 30px;
	}
	header .profileHeader h3 {
		font-family: "armada";
		color: rgba(255,255,255,1.00);
		font-size: 1.4em;
		font-weight: 700;
		text-align: left;
	}
	header hr {
		width: 80%;
	}
	.profilePhoto {
	width: auto;
	height: auto;
	}	
	.title {
		color: rgba(255,255,255,1.00);
		text-align: center;
	}

	.about {
		width: 100%;
		height: auto;
		background-color: rgba(0,0,0,1.00);
		margin-top: 7em;
		color: rgba(255,255,255,1.00);
		text-align: center;
	}
	.description {
		color: rgba(255,255,255,1.00);
		font-size: 1.8em;
		background-color: rgba(0,0,0,1.00);
		margin-top: 1em;
	}
	.socials {
		color: rgba(255,255,255,1.00);
		font-size: 2em;
		text-align: center;
	}
	.nav-links {
        display: flex; /* Display links horizontally */
        position: static; /* Remove absolute positioning for a regular layout */
        flex-direction: row; /* Ensure links are in a row */
        background-color: transparent; /* Remove background for inline links */
        box-shadow: none; /* Remove shadow */
        width: auto; /* Let the width adjust automatically */
        padding: 0;
    }

    .nav-links li {
        margin: 0 10px; /* Add spacing between items */
    }

    .nav-links li a {
        color: white;
        text-decoration: none;
        border-bottom: none; /* Remove borders for inline links */
		padding-right: 1.2em;
    }

    .hamburger {
        display: none; /* Hide hamburger icon on larger screens */
    }
	
	.menuTitle {
		display: none;
	}
}

